<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
	
	<link rel="stylesheet" th:href="@{/css/style.css}"/>

<title>HomePage</title>
</head>

<body>

	<div class="container">
		<h2>Home Page</h2>
		<hr>
		<!-- display user name and role -->
		<div th:text=" 'Hi, server is logged as: ' + ${user.userName}" />

		<br> Role(s):
		<tr th:each="role : ${user.roles}">
			<p th:text="${role.name}" />
		</tr>
		<br>

		<div
			th:text=" 'First name: ' + ${user.firstName} +', LastName: '+ ${user.lastName} +', Email: '+ ${user.email}" />

		<hr>

	<div class="categories">
<div class="category">
		<a th:href="@{'/employees/'}" class="btn btn-dark" >Employees</a> <br></div>
		
		<div class="category">
		 <a th:href="@{'/tasks/'}" class="btn btn-dark">Tasks</a>
		</div>
		
		<div class="category"><a th:href="@{'/teams/'}" class="btn btn-dark">Teams</a></div>
		
		</div>
		
		 <div class="after"><a th:href="@{'/randomPopulationForm'}" class="btn btn-dark">Random Populate</a></div>
		
		<hr>

		

		<a th:href="@{'/logout/'}" class="btn btn-dark right">logout</a>

	</div>

</body>
</html>



