<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Task Directory</title>
</head>

<body>

	<div class="container">

		<h3>Task Directory</h3>
		<hr>

		<div th:if="${admin}">
			<a th:href="@{'/addTaskForm/'+${tasksOwner}}">Add Task</a>
		</div>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Description</th>
					<th>Employee</th>
					<th>Expected Start Time</th>
					<th>Real Start Time</th>
					<th>Expected End Time</th>
					<th>Real End Time</th>

					<div th:if="${admin} or ${user.id}==${tasksOwner}">
						<th>Action</th>
					</div>

				</tr>
			</thead>

			<tbody>
				<tr th:each="tempTask : ${tasks}">

					<td th:text="${tempTask.description}" />
					<td th:text="${tempTask.employeeId}" />
					<td th:text="${#dates.format(tempTask.expectedStartTime, 'YYYY-MM-dd')}" />
					<td th:text="${#dates.format(tempTask.realStartTime, 'YYYY-MM-dd')}" />   
					<td th:text="${#dates.format(tempTask.expectedEndTime, 'YYYY-MM-dd')}" />   
					<td th:text="${#dates.format(tempTask.realEndTime, 'YYYY-MM-dd')}" />  

					<div th:if="${user.id}==${tasksOwner} and not ${admin} ">
						<td><a th:href="@{'/updateTaskForm/'+${tempTask.id}}">Update</a></td>
					</div>

					<div th:if="${admin}">
						<td><a th:href="@{'/updateTaskForm/'+${tempTask.id}}">Update</a>
							| <a th:href="@{'/deleteTask/'+${tempTask.id}}" onclick="return confirm('Are you sure?')">Delete</a></td>
					</div>

				</tr>
			</tbody>
		</table>

		<a th:href="@{'/employees/'}">Back to Home Page</a> 
		<br>
		<a
			th:href="@{'/logout/'}">logout</a>
	</div>

</body>
</html>



