<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Employees</title>
</head>

<body>

<div class="container">
<h2>Employees</h2>
	<hr>
	<!-- display user name and role -->
	<div th:text=" 'Hi, server is logged as: ' + ${user.userName}"/>
	<br>
	
	<div th:text=" 'Employees of the team ' + ${team.name}"/>

		
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${employees}">
			<div th:if="${tempEmployee.topEmployee} "> 
				<td th:text="${tempEmployee.firstName}+' (TOP EMPLOYEE)'" />	
				</div>
				
				<div th:unless="${tempEmployee.topEmployee} "> 
				<td th:text="${tempEmployee.firstName}" />	
				</div>
				
				<td th:text="${tempEmployee.lastName}" />	
				<td th:text="${tempEmployee.email}" />	
				<td>  <a th:href= "@{'/tasks/'+${tempEmployee.id}}">View Tasks </a></td>
				
			</tr>
		</tbody>		
	</table>
	
	<a th:href= "@{'/logout/'}" class="btn btn-dark">logout</a>
	
</div>
	
</body>
</html>



