<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Page level plugin JavaScript--><script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <script>
        $(document).ready(function() {
            $('#elements').DataTable();
        });
    </script>
    <title>Tasks</title>
</head>

<body>
<div class="header">
    <img src="../images/taskmanager.png" alt="Task Manager logo">
</div>
<div class="container">

    <h3>
        <div th:text=" 'Task of ' + ${tasksOwner.userName}"/>
    </h3>

    <br>
    <div th:text=" 'Hi, server is logged as: ' + ${user.userName}"/>
    <hr>

    <div th:if="${admin}">
        <a th:href="@{'/addTaskForm/'+${tasksOwner.id}}"
           class="btn btn-dark right">Add task to this Employee</a>
    </div>
    <br> <br>

    <table id="elements" class="table table-bordered table-striped table-dark">
        <thead>
        <tr>
            <th>Description</th>
            <th>Employee</th>
            <th>Expected Start Time</th>
            <th>Real Start Time</th>
            <th>Expected End Time</th>
            <th>Real End Time</th>

            <div th:if="${admin} or ${user.id}==${tasksOwner.id}">
                <th>Action</th>
            </div>

        </tr>
        </thead>

        <tbody>
        <tr th:each="tempTask : ${tasks}">

            <td th:text="${tempTask.description}"/>
            <td th:text="${tempTask.employeeId}"/>
            <td th:text="${tempTask.expectedStartTime}"/>
            <td th:text="${tempTask.realStartTime}"/>
            <td th:text="${tempTask.expectedEndTime}"/>
            <td th:text="${tempTask.realEndTime}"/>

            <div th:if="${user.id}==${tasksOwner.id} and not ${admin} ">
                <td><a th:href="@{'/updateTaskForm/'+${tempTask.id}}">Update</a></td>
            </div>

            <div th:if="${admin}">
                <td><a th:href="@{'/updateTaskForm/'+${tempTask.id}}">Update</a>
                    | <a th:href="@{'/deleteTask/'+${tempTask.id}}"
                         onclick="return confirm('Are you sure?')">Delete</a></td>
            </div>

        </tr>
        </tbody>
    </table>

    <a th:href="@{'/home/'}">Back to Home Page</a> <br> <a
        th:href="@{'/logout/'}" class="btn btn-dark right">logout</a>
</div>

</body>
</html>



