

<!DOCTYPE html>
<html>

<head>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

</head>

<body>

	<div id="container" style="margin-top: 40px;"
		class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
		<h3>Assign Task</h3>

		<br> <br>

		<div th:if="${error}">

			<div class="alert alert-danger col-xs-offset-1 col-xs-10">
				Maybe no one in that team is available</div>
		</div>

		<form action=# th:action="@{/assignTaskToTeam}" th:object="${task}"
			method="POST">

			<!-- need to associate this data with task id -->
			<input type="hidden" th:field="*{id}" /> <input type="hidden"
				th:field="*{version}" /> <input type="hidden"
				th:field="*{employeeId}" />

			<table>
				<tbody>


					<tr>
						<td><label>Description:</label></td>
						<td><input type="text" th:field="*{description}"
							th:readonly="not ${admin}" class="form-control"
							th:required="required" /></td>
					</tr>

					<tr>
						<td><label>Expected Start Time:</label></td>
						<td><input type="date" th:field="*{expectedStartTime} "
							th:readonly="not ${admin} " class="form-control"
							th:required="required" /></td>
					</tr>



					<tr>
						<td><label>Real Start Time:</label></td>
						<td><input type="date" th:field="*{realStartTime}"
							class="form-control" th:required="required" /></td>
					</tr>

					<tr>
						<td><label>Expected End Time:</label></td>
						<td><input type="date" th:field="*{expectedEndTime} "
							th:readonly="not ${admin} " class="form-control"
							th:required="required" /></td>
					</tr>


					<tr>
						<td><label>Real End Time:</label></td>
						<td><input type="date" th:field="*{realEndTime}"
							class="form-control" th:required="required" /></td>
					</tr>

					<tr>
						<td><label>Team:</label></td>
						<td><select class="form-control" th:field=" ${teams}">
								<option value="default">Choose a Team</option>
								<option th:each="tempTeam :  ${teams}" th:value="${tempTeam.id}"
									th:text="${tempTeam.name}"></option>

						</select></td>
					</tr>

					<tr>
						<td><label></label></td>
						<td><input type="submit" value="Assign" class="btn btn-dark" />

						</td>
					</tr>




				</tbody>
			</table>


		</form>

		<div style=""></div>

		<p>

			<a th:href="@{'/teams/'}">Back to Home Page</a>
		</p>
	</div>
</body>

</html>










